<div class= "stars-image" >
<p style="margin-top:10px;"></p>
<div class="panel panel-info transparent-bg style="margin-top:10px;">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><i class="fa fa-question-circle fa-lg"></i> About Open Photometry</h3>
  </div>
  <div class="panel-body main-config-text">
 <p class="text-warning">Open Photometry is in a very early stage and undergoing active development at the moment.</p>
 <p> Open Photometry uses <a href="http://oscaar.github.io/OSCAAR/">OSCAAR</a>, <a href="http://js9.si.edu/">JS9</a> among other complex tools behind the scenes to analyse data in a highly scalable system (although it's ridiculously small at the moment) and create a light curve for a transiting exoplanet. There are public and private queues available that will process the analysis and display a light curve at the end of the process.<p/>
 <p> The idea behind Open Photometry is to provide a global platform for processing data for exoplanet hunting, available and free to the public. It has a complex queue behing in order to process the incomding data, which can be made public or private (only public at the moment).  Although it's in a very early stage, it's aim is to provide automate and make the process easier with the adition of new modules such as an anomaly detector and alerts system.</p>

 <p> ©2014 <a href="http://jameslopez.es">James Lopez</a> </p>
 <br>
  </div>
</div>