<div class= "stars-image" >
<p style="margin-top:10px;"></p>
<div class="panel panel-info transparent-bg style="margin-top:10px;">
  <div class="panel-heading">
    <h3 class="panel-title text-center"><i class="fa fa-question-circle fa-lg"></i> About Open Photometry</h3>
  </div>
  <div class="panel-body main-config-text">
 <p class="text-danger">Open Photometry is in Beta state and active development at the moment.</p>
 <p> Open Photometry uses <a href="http://oscaar.github.io/OSCAAR/">OSCAAR</a>, <a href="http://ds9.si.edu/">DS9</a> among other complex tools behind the scenes to execute a photometry analysis of transiting exoplanets. There are public and private queues available that will process the analysis and display a light curve at the end of the process. <p/>
 <p> ©2014 <a href="http://jameslopez.es">James Lopez - jameslopez.es</a> </p>
 <br>
  </div>
</div>